a {
    text-decoration: none;
}

header img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-right: auto;
}

header nav {
  background: black;
  padding: 5px;
}

header ul li {
  display: inline;
}

header ul li a {
  margin-right: 40px;
  text-decoration: none;
  color: white;
}

header ul li a:hover {
  color: green;
}

#search {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

#searchInput {
    padding: 7px;
    border-radius: 100px;
    padding: 7px;
    border: 1px solid #000;
}

#menu li {
    list-style: none;
    margin-bottom: 5px;
    line-height: 30px;
    padding: 10px;
}

aside {
    border: 1px solid #000;
    color: #1f1c1c;
    font-size: 18px;
    background: #f4f4f4;
    width: 20%;
    text-align: center;
    height: auto;
    position: sticky;
}

aside a {
    color: inherit;
}

aside.span::before {
    content: '(';
}

aside.span::after {
    content: ')';
}

article {
    border: 1px solid #000;
    margin-left: 5px;
    width: 80%;
    background-position: center center;
    background-size: cover;
    color: white;
    background: #d3cccc;
}

#main-section {
    display: flex;
    margin-top: 5px;
}

#menu li a {
    margin-bottom: 1px solid rgba(0, 0, 0, .2);
}

#menu li a:last-child {
    margin-bottom: 0;
}

#article-heading {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
    text-shadow: 3px 3px 2px #000;
}

#people {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.people {
    background-color: darkblue;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: baseline;
}

.people:hover {
    box-shadow: 3px 2px 5px 5px rgba(0, 0, 0, .5);
}

.people h2 {
    justify-content: flex-start;
}

.people p {
    margin-top: auto;
}

.people a {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 15px 10px 25px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    outline: 0;
    background: white;
    color: darkblue;
    font-weight: bold;
    transition: .3s;
    margin-top: auto;
}

.people a::after {
    content: '\f105';
    font-family: fontAwesome;
    color: inherit;
    position: relative;
    left: -30px;
    opacity: 0;
    transition: .3s;
}

.people a:hover::after {
    opacity: 1;
    left: 10px;
}
 .people a:hover {
    padding: 10px 30px 10 25px;
 }

.people h2 {
    font-size: 24px;
}

footer {
    text-align: center;
    margin-top: 20px;
}